<div class="row">
  <div class="column column-80">
    <input type="text" [(ngModel)]="query" placeholder="Search your media">
  </div>
  <div class="column">
    <input type="button" value="Search" (click)="search()">
  </div>
</div>
<div class="row">
  <div class="column">
    <table>
      <thead>
        <tr>
          <th>Result Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let link of links">
          <td><a (click)="fetch(link)">{{link.title}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table>
      <thead>
        <tr>
          <th>Bookmarks</th>
          <th><a (click)="clearBookmark()">Clear</a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let link of bookmarks">
          <td>
            <a (click)="fetch(link)">{{link.title}}</a>
          </td>
          <td>
            <a (click)="removeBookmark(link)">Remove</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
