<div class="row">
  <div class="column column-80">
    <blockquote>
      <p>
        <em>{{link.description}}</em>
      </p>
    </blockquote>
  </div>
  <div class="column" style="margin: auto;">
    <input type="button" value="Go back" [routerLink]="['/home']">
  </div>
</div>
<div class="row">
  <div class="column">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of videos">
          <td>{{video | link}}</td>
          <td>
            <input type="button" value="browse" (click)="browse(video)">
            <input type="button" value="play" (click)="play(video)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
